* {
  margin: 0;
  padding: 0;
  outline: none;
}

a {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style-type: none;
}

body {
  width: 100%;
  height: 100vh;
}

/* Header-Menu */
header {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #d00000;
}

header .logo {
  padding-top: 5px;
}

header ul {
  display: flex;
  align-items: center;
}

.list_menu ul li {
  list-style-type: none;
  display: inline-block;
  cursor: pointer;
  font-size: 20px;
  margin: 10px;
  padding: 10px 20px;
  border: none;
  background-color: rgba(0, 0, 0, 0.801);
  color: #fec63e;
  text-transform: uppercase;
  border-radius: 10px;
  font-family: "new rocker", "Franklin Gothic Medium", "Arial Narrow", Arial,
    sans-serif;
}

.list_menu ul li:hover {
  transition: 0.4s;
  color: #ffffff;
}

.active {
  color: #fff;
}

/* Main */

main {
  width: 100%;
  height: 100%;
  // display: flex;
  background: linear-gradient(to left bottom, rgb(8, 8, 8), #586369);
  justify-content: center;
  align-items: center;
}

main .banner img {
  width: 100%;
}

.main_down {
  width: 100%;
  height: 500px;
  display: inline-flex;
  align-items: center;
  justify-content: space-around;
}

.main_information {
  width: 400px;
  height: 300px;
  padding: 10px;
  margin-left: 40px;
  /* background-color: #ffffff; */
  background: transparent;
  color: #fec63e;
}

.main_information h3 {
  font-family: "new rocker", "Franklin Gothic Medium", "Arial Narrow", Arial,
    serif;
  font-size: 30px;
  padding: 30px;
  text-align: center;
  font-weight: 600;
  margin-bottom: 3px;
}

.main_information p {
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  line-height: 25px;
}

.john {
  margin-bottom: 20px;
}

.main_content {
  width: 400px;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

.boxes {
  display: flex;
  margin-left: 40px;
  justify-content: space-between;
}

.main_content .box1 {
  width: 100px;
  height: 100px;
}
.main_content .box2 {
  width: 100px;
  height: 100px;
}
.main_content .box3 {
  width: 100px;
  height: 100px;
  margin-right: 10px;
}

.form_generator {
  /* width: 400px; */
  // height: 400px;
  display: flex;
  /* justify-content: space-between; */
  /* align-items: center; */
  // margin: 100px;
  // background-color: rgb(31, 34, 33);
}

// moon
.circle {
  background-image: url(/img/main.png);
  background-repeat: no-repeat;
  background-position: center;
  height: 200px;
  width: 200px;
  top: 35%;
  right: 7%;
  position: absolute;
  border-radius: 50%;
}

/* form write */
.slice {
  width: 400px;
  height: 400px;
  text-align: center;
  margin-top: 100px;
  font-size: 16px;
  //   font-style: italic;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  color: #fec63e;
  border: #fec63e solid 1px;
  border-radius: 5px;
  padding: 20px;
  // background: linear-gradient(to left bottom, rgba(20, 20, 20, 0.774), #3c4347);
  backdrop-filter: blur(5rem);
  // z-index: 2;
}

input[type="text"],
[type="email"],
[type="date"] {
  width: 300px;
  padding: 2px 5px;
  margin: 10px 2px 5px 0px;
  box-sizing: border-box;
  border: 1px solid #fec63e;
  background-color: transparent;
  color: #fec63e99;
  border-radius: 3px;
}

::placeholder {
  color: #fec63e;
  opacity: 0.5;
}

.title {
  font-family: "new rocker", "Franklin Gothic Medium", "Arial Narrow", Arial,
    sans-serif;
  font-size: 30px;
  text-align: center;
  font-weight: 600;
  margin-bottom: 20px;
}

/* space inside form*/
.form_group {
  padding: 5px;
  height: 30px;
}

.form_group label {
  padding-right: 5px;
}

.gender {
  margin-top: 20px;
  font-size: 16px;
  padding: 5px;
}
// Color selection gender

input[type="radio"]:after {
  width: 10px;
  height: 10px;
  border-radius: 10px;
  position: relative;
  background-color: #fff;
  content: "";
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
}

input[type="radio"]:checked:after {
  width: 10px;
  height: 10px;
  border-radius: 10px;
  position: relative;
  background-color: #000;
  content: "";
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
}

.dinamic {
  display: flex;
  text-align: center;
  justify-content: center;
  padding: 10px;
  font-size: 16px;
  margin-bottom: 10px;
}

.dinamic select {
  background: transparent;
  color: #fec63e;
  border-color: #fec63e;
  border-radius: 8px;
  font-size: 14px;
  padding: 2px;
}

.dinamic select option {
  color: #fec63e;
  background-color: #393f42;
  border: 1px solid #586369;
}

main button {
  list-style-type: none;
  display: inline-block;
  cursor: pointer;
  font-size: 20px;
  margin: 10px;
  padding: 10px 20px;
  border: none;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fec63e;
  text-transform: uppercase;
  border-radius: 10px;
  font-family: "new rocker", "Franklin Gothic Medium", "Arial Narrow", Arial,
    sans-serif;
}

main button:hover {
  transition: 0.2s;
  color: #000;
  background-color: #fec63e;
}

/* Footer */
footer {
  width: 100%;
  height: 40px;
  display: flex;
  background-color: #d00000;
  justify-content: space-around;
  /* position: absolute; */
}

.foot p {
  font-size: 14px;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  margin-right: 55px;
  padding: 10px;
}

.socials {
  margin-left: 55px;
  display: inline-flex;
  align-items: center;
}

footer ul li {
  padding: 0px 10px;
}

/* Laptop */

@media only screen and (min-width: 1200px) and (max-width: 1440px) {
  header {
    background-color: #d00000;
    justify-content: space-around;
    align-items: center;
  }

  header .logo {
    margin-left: 20px;
  }

  .circle {
    right: 5%;
    top: 38%;
  }

  .list_menu ul li {
    text-align: center;
  }
}

/* Responsivo Tablet */
/* Header */
@media only screen and (min-width: 900px) and (max-width: 1199px) {
  header {
    background-color: #d00000;
    justify-content: space-around;
    align-items: center;
  }

  header .logo {
    margin-left: 20px;
  }

  .list_menu ul li {
    text-align: center;
  }

  /* Main */

  main {
    height: 100%;
  }
  .main_down {
    justify-content: center;
  }

  .main_information {
    width: 400px;
    height: 300px;
    padding: 10px;
    margin-left: 50px;
    /* background-color: #ffffff; */
    background: transparent;
    color: #fec63e;
  }

  .main_information h3 {
    font-size: 30px;
    padding: 20px;
  }

  .main_information p {
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    line-height: 25px;
  }
  .form_generator {
    width: 400px;
    height: 400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 100px;
  }

  .circle {
    top: 35%;
    right: 0%;
    // height: 100px;
  }
}

/* Smartphone */

@media only screen and (max-width: 899px) {
  // Header
  header {
    display: flex;
    width: 100%;
    height: 200px;
    background-color: #d00000;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
    /* margin-bottom: -50px; */
  }

  header .logo {
    /* display: flex; */
    margin: 10px;
    padding: 40px;
  }

  .list_menu ul {
    width: 80%;
    padding: 10px;
    flex-wrap: wrap;
  }

  .list_menu ul li {
    width: 100%;
    font-size: 12px;
    /* margin: 4px; */
    /* padding: 10px 10px; */
    font-family: "new rocker", "Franklin Gothic Medium", "Arial Narrow", Arial,
      sans-serif;
    color: #fec63e;
    text-align: center;
    flex-direction: column;
  }

  // main
  main {
    height: 600px;
  }

  .banner {
    display: none;
  }

  .main_information {
    display: none;
  }

  .main_down {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .main_content {
    display: none;
  }

  .form_generator {
    // margin: 40px;
  }

  .boxes {
    display: none;
  }

  // Footer
  footer {
    justify-content: space-between;
    align-items: center;
  }

  .foot p {
    margin-right: 0px;
    padding: 0px 25px;
  }

  .socials {
    margin-left: 0px;
    padding: 0px 25px;
  }
}

/* JAVASCRIPT */

.js [data-anime] {
  opacity: 0;
  transform: translate3d(0, -20px, 0);
}

.js .fadeInDown {
  transform: translate3d(0, -20px, 0);
}

.js .anime {
  opacity: 1;
  transform: none;
  transition: opacity 800ms, transform 800ms;
}
