* {
  margin: 0;
  padding: 0;
  outline: none;
}

body {
  /* width: 100vh; */
  height: 100vh;
}

a {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style-type: none;
}

/* Header */
header {
  width: 100%;
  display: flex;
  height: 100px;
  background-color: #d00000;
  /* padding: 10px; */
}

.menu {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.logo {
  margin-left: 100px;
  padding: 10px;
}

.list_menu {
  /* width: 200px; */
  /* display: flex; */
  margin-right: 100px;
  padding: 20px;
}

/* menu button */
.list_menu ul li {
  list-style-type: none;
  display: inline-block;
  cursor: pointer;
  font-size: 20px;
  margin: 10px;
  padding: 10px 20px;
  border: none;
  background-color: rgba(0, 0, 0, 0.801);
  color: #fec63e;
  text-transform: uppercase;
  border-radius: 10px;
  font-family: "new rocker", "Franklin Gothic Medium", "Arial Narrow", Arial,
    sans-serif;
}

.list_menu ul li:hover {
  transition: 0.2s;
  color: #000;
  background-color: #fec63e;
}

.active {
  color: #fff;
}

/* Main */

main {
  width: 100%;
  height: 700px;
  display: flex;
  background: linear-gradient(to left bottom, rgb(8, 8, 8), #586369);
  justify-content: space-around;
  align-items: baseline;
}

.banner {
  width: 100%;
  height: 150px;
  background-image: url(/img/bg/bandas.png);
  background-size: cover;
  background-position: center;
  margin-bottom: 50px;
  position: absolute;
}

.main_information {
  width: 400px;
  height: 300px;
  padding: 10px;
  /* background-color: #ffffff; */
  background: transparent;
  color: #fec63e;
}

.main_information h3 {
  font-family: "new rocker", "Franklin Gothic Medium", "Arial Narrow", Arial,
    serif;
  font-size: 30px;
  padding: 30px;
  text-align: center;
  font-weight: 600;
  margin-bottom: 10px;
}

.main_information p {
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  line-height: 25px;
}

.form_generator {
  /* width: 400px; */
  height: 400px;
  display: flex;
  /* justify-content: space-between; */
  /* align-items: center; */
  margin: 100px;
  /* background-color: rgb(31, 34, 33); */
}

// moon
.circle {
  background-image: url(/img/main.png);
  background-repeat: no-repeat;
  background-position: center;
  /* background: linear-gradient(
      to right top,
      rgba(248, 248, 248, 0.9),
      rgba(58, 58, 60, 0.5)
    ); */
  height: 200px;
  width: 200px;
  top: 39%;
  right: 4%;
  position: absolute;
  border-radius: 50%;
}
/* escrita do form */
.slice {
  width: 400px;
  height: 400px;
  text-align: center;
  margin-top: 100px;
  font-size: 16px;
  //   font-style: italic;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  color: #fec63e;
  border: #fec63e solid 1px;
  border-radius: 5px;
  padding: 20px;
  background: linear-gradient(to left bottom, rgba(20, 20, 20, 0.774), #3c4347);

  z-index: 2;
  backdrop-filter: blur(1rem);
}

input[type="text"],
[type="email"],
[type="date"] {
  width: 300px;
  padding: 2px 5px;
  margin: 10px 2px 5px 0px;
  box-sizing: border-box;
  border: 1px solid #fec63e;
  background-color: transparent;
  color: #fec63e99;
  border-radius: 3px;
}

::placeholder {
  color: #fec63e;
  opacity: 0.5;
}

.title {
  font-family: "new rocker", "Franklin Gothic Medium", "Arial Narrow", Arial,
    sans-serif;
  font-size: 30px;
  text-align: center;
  font-weight: 600;
  margin-bottom: 20px;
}

/* space inside form*/
.form_group {
  padding: 5px;
  height: 30px;
}

.form_group label {
  padding-right: 5px;
}

.gender {
  margin-top: 20px;
  font-size: 16px;
  padding: 5px;
}

.dinamic {
  display: flex;
  text-align: center;
  justify-content: center;
  padding: 10px;
  font-size: 16px;
  margin-bottom: 10px;
}

.dinamic select {
  background: linear-gradient(
    to right top,
    rgba(15, 15, 15, 0.7),
    rgba(58, 58, 60, 0.3)
  );
  color: #fec63e;
  border-radius: 8px;
  font-size: 14px;
  padding: 2px;
}

.dinamic select option {
  color: #fec63e;
  background-color: #000;
  border: 1px solid #586369;
}

main button {
  list-style-type: none;
  display: inline-block;
  cursor: pointer;
  font-size: 20px;
  margin: 10px;
  padding: 10px 20px;
  border: none;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fec63e;
  text-transform: uppercase;
  border-radius: 10px;
  font-family: "new rocker", "Franklin Gothic Medium", "Arial Narrow", Arial,
    sans-serif;
}

main button:hover {
  transition: 0.2s;
  color: #000;
  background-color: #fec63e;
}

/* Footer */
footer {
  width: 100%;
  height: 40px;
  display: flex;
  background-color: #d00000;
  justify-content: space-between;
  /* position: absolute; */
}

.foot p {
  font-size: 14px;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  margin-left: 100px;
  padding: 10px;
}

.socials {
  margin-right: 130px;
  display: inline-flex;
  align-items: center;
}

footer ul li {
  padding: 0px 10px;
}
