* {
  margin: 0;
  padding: 0;
  outline: none;
}

a {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style-type: none;
}

body {
  width: 100%;
  height: 100vh;
}

/* Header-Menu */
header {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #d00000;
}

header .logo {
  /* display: flex; */
  margin-left: 110px;
  padding-top: 5px;
}

header ul {
  display: flex;
  align-items: center;
  margin-right: 100px;
}

.list_menu ul li {
  list-style-type: none;
  display: inline-block;
  cursor: pointer;
  font-size: 20px;
  margin: 10px;
  padding: 10px 20px;
  border: none;
  background-color: rgba(0, 0, 0, 0.801);
  color: #fec63e;
  text-transform: uppercase;
  border-radius: 10px;
  font-family: "new rocker", "Franklin Gothic Medium", "Arial Narrow", Arial,
    sans-serif;
}

.list_menu ul li:hover {
  transition: 0.4s;
  color: #ffffff;
}

/* Main */

main {
  display: flex;
  width: 100%;
  height: 800px;
  background: linear-gradient(to left bottom, rgb(8, 8, 8), #586369);
  background-color: #000;
}

.banner {
  width: 100%;
  height: 150px;
  background-image: url(/front/img/bg/bandas.png);
  background-size: cover;
  /* background-position: center; */
  /* margin-bottom: 50px; */
  /* position: absolute; */
}

.circle {
  background-image: url(/front/img/main.png);
  background-repeat: no-repeat;
  background-position: center;
  /* background: linear-gradient(
    to right top,
    rgba(248, 248, 248, 0.9),
    rgba(58, 58, 60, 0.5)
  ); */
  height: 100px;
  width: 100px;
  top: 50%;
  right: 8%;
  position: absolute;
  border-radius: 50%;
}

/* Footer */

footer {
  width: 100%;
  height: 7%;
  display: flex;
  background-color: #d00000;
  justify-content: space-between;
  align-items: center;
}

.foot p {
  font-size: 14px;
  font-family: Georgia, "Times New Roman", Times, serif;
  margin-left: 107px;
}

.socials {
  margin-right: 130px;
  display: inline-flex;
  align-items: center;
}

footer ul li {
  padding: 0px 10px 0px 10px;
}
