* {
  margin: 0;
  padding: 0;
  outline: none;
}

a {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style-type: none;
}

body {
  width: 100%;
  height: 100vh;
}

/* Header-Menu */
header {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #d00000;
}

header .logo {
  padding-top: 5px;
}

header ul {
  display: flex;
  align-items: center;
}

.list_menu ul li {
  list-style-type: none;
  display: inline-block;
  cursor: pointer;
  font-size: 20px;
  margin: 10px;
  padding: 10px 20px;
  border: none;
  background-color: rgba(0, 0, 0, 0.801);
  color: #fec63e;
  text-transform: uppercase;
  border-radius: 10px;
  font-family: "new rocker", "Franklin Gothic Medium", "Arial Narrow", Arial,
    sans-serif;
}

#btn1 {
  padding: 20px;
}

.list_menu ul li:hover {
  transition: 0.4s;
  color: #ffffff;
}

.active {
  color: #fff;
}

/* Main */

main {
  width: 100%;
  height: 100%;
  display: column;
  background: linear-gradient(to left bottom, rgb(8, 8, 8), #586369);
  justify-content: center;
  align-items: center;
}

main .banner img {
  width: 100%;
}

/* left content */
.main_information {
  width: 400px;
  height: 300px;
  padding: 10px;
  margin: 80px 0px 20px 103px;
  color: #fec63e;
}

.main_information h3 {
  width: 100%;
  font-family: "new rocker", "Franklin Gothic Medium", "Arial Narrow", Arial,
    serif;
  font-size: 30px;
  text-align: center;
  font-weight: 600;
  margin-bottom: 30px;
}

.welcome {
  margin-bottom: 50px;
}

.main_information p {
  width: 100%;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  line-height: 25px;
  text-align: justify;
}

.main_about {
  width: 800px;
  height: 500px;
  padding: 10px;
  margin: 100px 0px 20px 103px;
  color: #fec63e;
}

.main_about h3 {
  width: 100%;
  font-family: "new rocker", "Franklin Gothic Medium", "Arial Narrow", Arial,
    serif;
  font-size: 40px;
  text-align: center;
  font-weight: 600;
  margin-bottom: 30px;
}

.main_about p {
  width: 100%;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  line-height: 30px;
}

.circle {
  background: linear-gradient(to left bottom, rgb(8, 8, 8), #a8b4bb);
  background-image: url(/img/main.png);
  background-repeat: no-repeat;
  background-position: center;
  height: 150px;
  width: 150px;
  top: 40%;
  right: 15%;
  position: absolute;
  border-radius: 50%;
}

.radio_cite {
  display: column;
  width: 400px;
  height: 300px;
  margin-left: 50px;
}

.radio {
  margin-left: 166px;
}

.box_radio {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.boxes {
  display: flex;
  margin-left: 180px;
}

.box1 {
  width: 100px;
  height: 100px;
}
.box2 {
  width: 100px;
  height: 100px;
}
.box3 {
  width: 100px;
  height: 100px;
  margin-left: -10px;
}

/* rigth content */
.cite {
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fec63e;
}

.cite_rigth {
  width: 300px;
  height: 300px;
  margin-right: 200px;
  font-size: 20px;
}

.cite blockquote {
  width: 100%;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  line-height: 25px;
  text-align: justify;
}

/* Footer */

footer {
  width: 100%;
  height: 40px;
  display: flex;
  background-color: #d00000;
  justify-content: space-around;
}

.foot p {
  font-size: 14px;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  margin-right: 55px;
  padding: 10px;
}

.socials {
  margin-left: 55px;
  display: inline-flex;
  align-items: center;
}

footer ul li {
  padding: 0px 10px;
}

/* Laptop */

@media only screen and (min-width: 1200px) and (max-width: 1440px) {
  header {
    background-color: #d00000;
    justify-content: space-around;
    align-items: center;
  }

  header .logo {
    margin-left: 20px;
  }

  .list_menu ul li {
    text-align: center;
  }

  /* Main */

  main {
    height: 125%;
  }
  .main_information {
    height: 200px;
    padding: 30px;
    margin: 100px 0px 10px 50px;
  }
}

/* Responsivo Tablet */
/* Header */
@media only screen and (min-width: 878px) and (max-width: 1199px) {
  header {
    background-color: #d00000;
    justify-content: space-around;
    align-items: center;
  }

  header .logo {
    margin-left: 20px;
  }

  .list_menu ul li {
    text-align: center;
  }

  /* Main */

  main {
    height: 110%;
  }
  .main_information {
    height: 200px;
    padding: 30px;
    margin: 100px 0px 10px 50px;
  }

  .circle {
    top: 40%;
    right: 6%;
    width: 120px;
    height: 120px;
  }

  .boxes {
    display: none;
  }
  .cite {
    display: none;
  }

  .main_about {
    width: 100%;
  }

  .main_about h3 {
    width: 100%;

    font-size: 20px;
    margin-bottom: 20px;
  }

  .main_about p {
    font-size: 16px;
    line-height: 20px;
  }
}

/* Smartphone */

@media only screen and (max-width: 877px) {
  header {
    display: flex;
    width: 100%;
    height: 200px;
    background-color: #d00000;
    align-items: center;
    justify-content: center;
  }

  header .logo {
    margin: 20px;
  }

  .list_menu ul {
    width: 80%;
    padding: 10px;
    flex-wrap: wrap;
  }

  .list_menu ul li {
    width: 100%;
    font-size: 12px;
    font-family: "new rocker", "Franklin Gothic Medium", "Arial Narrow", Arial,
      sans-serif;
    color: #fec63e;
    text-align: center;
    flex-direction: column;
  }

  main {
    height: 600px;
    overflow: hidden;
  }

  .banner {
    display: none;
  }

  .main_information {
    width: 100%;
    margin: 0px;
  }

  .main_information h3 {
    width: 80%;
    font-size: 24px;
    padding: 30px;
    margin: 0px 20px;
  }

  .main_information p {
    width: 90%;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    line-height: 20px;
    margin: 0 auto;
  }

  .main_information cite {
    font-size: 14px;
    margin-left: 25px;
  }

  .circle {
    padding: 10px;
    top: 35%;
    right: 10%;
    width: 100px;
    height: 100px;
    position: relative;
  }

  .boxes {
    display: none;
  }
  .cite {
    display: none;
  }
  .about {
    display: flex;
    width: 100%;
    height: max-content;
    justify-content: center;
  }

  .main_about {
    width: 340px;
    margin: 30px 0px 0px -40px;
    display: column;
    justify-content: space-between;
  }

  .main_about h3 {
    font-size: 18px;
    margin-bottom: 20px;
  }

  .main_about p {
    font-size: 14px;
    line-height: 20px;
  }

  /* Footer */
  footer {
    justify-content: space-between;
    align-items: center;
  }

  .foot p {
    margin-right: 0px;
    padding: 0px 25px;
  }

  .socials {
    margin-left: 0px;
    padding: 0px 25px;
  }
}

/* JAVASCRIPT */

.js [data-anime] {
  opacity: 0;
  transform: translate3d(0, -20px, 0);
}

.js .fadeInDown {
  transform: translate3d(0, -20px, 0);
}

.js .anime {
  opacity: 1;
  transform: none;
  transition: opacity 800ms, transform 800ms;
}
