* {
  margin: 0;
  padding: 0;
  outline: none;
}

a {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style-type: none;
}

body {
  width: 100%;
  height: 100vh;
}

/* Header-Menu */
header {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #d00000;
}

header .logo {
  margin-left: 110px;
  padding-top: 5px;
}

header ul {
  display: flex;
  align-items: center;
  margin-right: 100px;
}

.list_menu ul li {
  list-style-type: none;
  display: inline-block;
  cursor: pointer;
  font-size: 20px;
  margin: 10px;
  padding: 10px 20px;
  border: none;
  background-color: rgba(0, 0, 0, 0.801);
  color: #fec63e;
  text-transform: uppercase;
  border-radius: 10px;
  font-family: "new rocker", "Franklin Gothic Medium", "Arial Narrow", Arial,
    sans-serif;
}

.list_menu ul li:hover {
  transition: 0.4s;
  color: #ffffff;
}

.active {
  color: #fff;
}

/* Main */

main {
  width: 100%;
  height: 700px;
  display: column;
  background: linear-gradient(to left bottom, rgb(8, 8, 8), #586369);
  justify-content: center;
  align-items: center;
}

.banner {
  width: 100%;
  height: 150px;
  display: block;
  background-image: url(/img/bg/bandas.png);
  background-size: cover;
  background-position: center;
  margin-bottom: 50px;
}

.main_information {
  width: 600px;
  height: 300px;
  padding: 10px;
  margin: 50px 0px 20px 103px;
  background: transparent;
  color: #fec63e;
}

.main_information h3 {
  font-family: "new rocker", "Franklin Gothic Medium", "Arial Narrow", Arial,
    serif;
  font-size: 30px;
  padding: 30px;
  text-align: center;
  font-weight: 600;
  margin-bottom: 10px;
}

.main_information p {
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  line-height: 25px;
}

.circle {
  background-image: url(/img/main.png);
  background-repeat: no-repeat;
  background-position: center;
  height: 100px;
  width: 100px;
  top: 50%;
  right: 8%;
  position: absolute;
  border-radius: 50%;
}

.radio_cite {
  display: column;
  width: 100%;
  height: 300px;
}

.radio {
  margin-left: 116px;
  color: #fec63e;
}

.form_home {
  display: flex;
  width: 300px;
  height: 300px;
  background-color: #d00000;
  padding: 5px;
}

/* Footer */

footer {
  width: 100%;
  height: 40px;
  display: flex;
  background-color: #d00000;
  justify-content: space-between;
}

.foot p {
  font-size: 14px;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  margin-left: 100px;
  padding: 10px;
}

.socials {
  margin-right: 130px;
  display: inline-flex;
  align-items: center;
}

footer ul li {
  padding: 0px 10px;
}
