<!DOCTYPE html>
<html lang="en">

<head>
    <title>RockeRoll</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="imagem/png" href="./img/nav.png" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=New+Rocker&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/index.css">
    <script>document.documentElement.classList.add("js")</script>


</head>

<body>

    <header>
        <div class="logo"><a href="./"><img src="./img/logo9.svg" alt="logo RockeRoll"></a>
        </div>

        <div class="list_menu" data-anime="400">
            <ul>
                <li> <a href="./">home</a> </li>
                <li><a href="./form">ticket</a></li>
                <li><a href="./about" class="active">about</a></li>

            </ul>
        </div>

    </header>

    <main>
        <div data-anime="400" class="banner fadeInDown">
            <img src="/img/bg/bandas.png" alt="">
        </div>
        <div class="teste">
            <div class="circle"></div>
        </div>
        <div class="radio_cite">
            <div data-anime="800" class="main_information fadeInDown">
                <h3>Moonligth Festival</h3>
                <blockquote>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi blanditiis sunt expedita, distinctio ex facilis rerum iure amet nulla velit saepe consequatur dignissimos perferendis temporibus repellat nostrum magnam vero ab deserunt. Voluptates perferendis esse veritatis doloremque labore corporis voluptatem reiciendis minus sunt est! Officiis doloremque eum facere, laborum esse nulla.</p>
                    <cite>Fulano de Tal</cite>
                </blockquote>
            </div>
            <div class="map">

            </div>
        </div>

    </main>

    <footer class="foot">
        <p>© Copyright 2021-2022 | Vinicius Olivi</p>
        <ul class="socials">
            <li><a href="http://facebook.com" target="_blank"><img src="./img/redes-sociais/facebook.svg" alt="Facebook RockeRoll"></a></li>
            <li><a href="http://instagram.com" target="_blank"><img src="./img/redes-sociais/instagram.svg" alt="Instagram RockeRoll"></a></li>
            <li><a href="http://twitter.com" target="_blank"><img src="./img/redes-sociais/twitter.svg" alt="Twitter RockeRoll"></a></li>

        </ul>
    </footer>
    <script src="/js/simple-anime.js"></script>
    <script src="/js/script.js"></script>
</body>

</html>