<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="icon" type="imagem/png" href="./img/nav.png" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=New+Rocker&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">

    <title>RockeRoll - Ticket</title>
</head>

<body>

    <header>
        <div class="menu">
            <div class="logo"><a href="./index.ejs"><img src="./img/logo9.svg" alt="logo RockeRoll"></a>
            </div>

            <div class="list_menu">
                <ul>
                    <li><a href="./index">home</li>
                    <li>ticket</a></li>
                    <li>about</li>
                </ul>
            </div>

    </header>

    <main>
        <div class="banner">
        </div>
        <div class="circle"></div>
        <div class="main_information">
            <h3>Moonligth Festival</h3>
            <p>"Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ea minus ipsam dolore laudantium a aspernatur quasi laborum doloribus. Libero maxime alias obcaecati tempore deserunt itaque, accusamus eius ipsam eum nisi."</p>
            <cite>Fulano de Tal</cite>
        </div>



        <div class="form_generator">
            <form action="/form" method="POST">

                <div class="slice">
                    <div class="title">buy your ticket </div>

                    <div class="form_group">
                        <label for="name">Name: </label>
                        <input type="text" name="name" placeholder="Your name" required autofocus>
                    </div>

                    <div class="form_group">
                        <label for="email">Email: </label>
                        <input type="email" name="email" placeholder="Your email" required>
                    </div>

                    <div class="form_group">
                        <label for="age">Birth: </label>
                        <input type="date" name="age" placeholder="Your date Of birth" min="1930-01-01" max="2020-12-31" required>
                    </div>

                    <div class="form_group gender">
                        <label for="">Gender:</label>
                        <input type="radio" name="gender" value="1" checked> Male
                        <input type="radio" name="gender" value="2"> Female
                    </div>


                    <div class="form_group section">
                        <label for="selection">Section: </label>
                        <select name="selection">

                            <option value="" selected> Section... </option>
                            <% selection.map((item)=> { %>
                                <option value="<%= item.value %>">
                                    <%= item.label%>
                                </option>
                                <% }) %>
                        </select>

                        <!-- New -->
                        <div class="form_group section">
                            <label for="location">Location: </label>
                            <select name="location">
                                <option value="" selected>Location...</option>
                                <% location.map((item)=> { %>
                                    <option value="<%= item.value %>">
                                        <%= item.label%>
                                    </option>
                                    <%}) %>
                            </select>

                        </div id="btn">
                        <button type="submit">Let's Rock</button>
                    </div>

            </form>

        </div>
    </main>

    <footer class="foot">
        <p>© Copyright 2021-2022 | Vinicius Olivi</p>
        <ul class="socials">
            <li><a href="http://facebook.com" target="_blank"><img src="./img/redes-sociais/facebook.svg" alt="Facebook RockeRoll"></a></li>
            <li><a href="http://instagram.com" target="_blank"><img src="./img/redes-sociais/instagram.svg" alt="Instagram RockeRoll"></a></li>
            <li><a href="http://twitter.com" target="_blank"><img src="./img/redes-sociais/twitter.svg" alt="Twitter RockeRoll"></a></li>

        </ul>
    </footer>
</body>

</html>