<!DOCTYPE html>
<html lang="en">

<head>
    <title>RockeRoll - Ticket</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="imagem/png" href="./img/nav.png" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=New+Rocker&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
    <script>document.documentElement.classList.add("js")</script>

</head>

<body>

    <header>
        <div class="logo"><a href="./"><img src="./img/logo9.svg" alt="logo RockeRoll"></a>
        </div>

        <div class="list_menu">
            <ul>
                <li id="btn1"> <a href="./">home</a> </li>
                <li id="btn2"><a href="./form" class="active">ticket</a></li>
                <li id="btn3"><a href="./about">about</a></li>

            </ul>
        </div>

    </header>

    <main>
        <div data-anime="400" class="banner fadeInDown">
            <img src="/img/bg/bandas.png" alt="">
        </div>
        <div class="circle"></div>
        <div class="main_down">

            <div class="main_content">
                <div class="main_information">
                    <h3 data-anime="800" class="fadeInDown">Moonligth Festival</h3>
                    <div class="phrase">
                        <div class="john">
                            <p data-anime="1200" class="fadeInDown">“We all shine on...like the moon and the stars and the sun...we all shine on...come on and on and on...”</p>
                            <cite data-anime="1200" class="fadeInDown">John Lennon</cite>
                        </div>
                        <p data-anime="1400" class="fadeInDown">“We are all like the bright moon, we still have our darker side.”
                        </p>
                        <cite data-anime="1400" class="fadeInDown">Khalil Gibran</cite>
                    </div>
                </div>
                <div data-anime="1800" class="boxes fadeInDown">
                    <div class="box1"> <img src="/img/box/rocker1.svg" alt=""> </div>
                    <div class="box2"><img src="/img/box/rocker2.svg" alt=""></div>
                    <div class="box3"><img src="/img/box/rocker3.svg" alt=""></div>
                </div>

            </div>

            <div data-anime="800" class="form_generator fadeInDown">
                <form action="/form" method="POST">

                    <div class="slice">
                        <div class="title">buy your ticket </div>

                        <div class="form_group">
                            <label for="name">Name: </label>
                            <input type="text" name="name" placeholder="Your name" required autofocus>
                        </div>

                        <div class="form_group">
                            <label for="email">Email: </label>
                            <input type="email" name="email" placeholder="Your email" required>
                        </div>

                        <div class="form_group">
                            <label for="age">Birth: </label>
                            <input type="date" name="age" placeholder="Your date Of birth" min="1930-01-01" max="2020-12-31" required>
                        </div>

                        <div class="form_group gender">
                            <label for="">Gender:</label>
                            <input type="radio" name="gender" value="1" checked> Male
                            <input type="radio" name="gender" value="2"> Female
                        </div>

                        <div class="dinamic">

                            <div class="form_group section">
                                <label for="selection">Section: </label>
                                <select name="selection">


                                    <option value="" selected> Section... </option>
                                    <% selection.map((item)=> { %>
                                        <option value="<%= item.value %>">
                                            <%= item.label%>
                                        </option>
                                        <% }) %>
                                </select>
                            </div>


                            <!-- New -->
                            <div class="form_group location">
                                <label for="location">City: </label>
                                <select name="location">
                                    <option value="" selected>City...</option>
                                    <% location.map((item)=> { %>
                                        <option value="<%= item.value %>">
                                            <%= item.label%>
                                        </option>
                                        <%}) %>
                                </select>
                            </div>

                        </div>


                        <div class="btn">
                            <button type="submit">Let's Rock</button>
                        </div>

                    </div>
            </div>

            </form>
        </div>
    </main>

    <footer class="foot">
        <p>© Copyright 2021-2022 | Vinicius Olivi</p>
        <ul class="socials">
            <li><a href="http://facebook.com" target="_blank"><img src="./img/redes-sociais/facebook.svg" alt="Facebook RockeRoll"></a></li>
            <li><a href="http://instagram.com" target="_blank"><img src="./img/redes-sociais/instagram.svg" alt="Instagram RockeRoll"></a></li>
            <li><a href="http://twitter.com" target="_blank"><img src="./img/redes-sociais/twitter.svg" alt="Twitter RockeRoll"></a></li>

        </ul>
    </footer>
    <script src="/js/simple-anime.js"></script>
    <script src="/js/script.js"></script>
</body>

</html>