<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">

    <title>Gerador de Algo - Sobre</title>
</head>

<body>

    <header>Header</header>

    <main>
        <div class="form_generator">
            <form action="/form" method="POST">

                <div class="slice">
                    <div class="title">Ticket to Rock </div>

                    <div class="form_group">
                        <label for="name">Name:</label>
                        <input type="text" name="name" placeholder="Insira o nome">
                    </div>

                    <div class="form_group">
                        <label for="email">Email:</label>
                        <input type="email" name="email" placeholder="Insira seu email">
                    </div>

                    <div class="form_group">
                        <label for="age">Birth:</label>
                        <input type="text" name="age" placeholder="Insira a sua idade">
                    </div>

                    <div class="form_group gender">
                        <label for="">Section:</label>
                        <input type="radio" name="gender" value="1" checked> Masculino
                        <input type="radio" name="gender" value="2"> Feminino
                    </div>

                    <div class="form_group section">
                        <label for="zone_selection">Day(s)</label>
                        <select name="zone_selection">
                            <option value="1">V.I.P</option>
                            <option value="1">Standard</option>
                            <option value="1">Open Bar</option>
                        </select>

                    </div>
                    <button type="submit">Let's Rock</button>
                </div>
            </form>

        </div>
    </main>

    <footer>Footer</footer>
</body>

</html>