<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="icon" type="imagem/png" href="./img/nav.png" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=New+Rocker&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">

    <title>RockeRoll - Ticket</title>
</head>

<body>

    <header>
        <div class="menu">
            <div class="logo"><a href="./index.ejs"><img src="./img/logo9.svg" alt="logo RockeRoll"></a>
            </div>

            <div class="list_menu">
                <ul>
                    <li><a href="/index.ejs">home</a></li>
                    <li>ticket</li>
                    <li>about</li>
                </ul>
            </div>

    </header>

    <main class="main_form">

        <div class="form_generator">
            <form action="/form" method="POST">

                <div class="slice">
                    <div class="title">buy your ticket </div>

                    <div class="form_group">
                        <label for="name">Name:</label>
                        <input type="text" name="name" placeholder="Insira o nome">
                    </div>

                    <div class="form_group">
                        <label for="email">Email:</label>
                        <input type="email" name="email" placeholder="Insira seu email">
                    </div>

                    <div class="form_group">
                        <label for="age">Birth:</label>
                        <input type="text" name="age" placeholder="Insira a sua idade">
                    </div>

                    <div class="form_group gender">
                        <label for="">Gender:</label>
                        <input type="radio" name="gender" value="1" checked> Masculino
                        <input type="radio" name="gender" value="2"> Feminino
                    </div>


                    <div class="form_group section">
                        <label for="selection">Section: </label>
                        <select name="selection">

                            <option value="" selected> Selection... </option>

                            <% selection.map((item)=> { %>

                                <option value="<%= item.value %>">
                                    <%= item.label%>
                                </option>
                                <% }) %>


                                    <!-- <option value="2"> Beatles </option>
                                    <option value="3"> Queen </option>
                                    <option value="4"> Stones </option>
                                    <option value="5"> Strokes </option> -->
                        </select>

                    </div id="btn">
                    <button type="submit">Let's Rock</button>
                </div>

            </form>

        </div>
    </main>

    <footer class="foot">
        <p>© Copyright 2021-2022 | Vinicius Olivi</p>
        <ul class="socials">
            <li><a href="http://facebook.com" target="_blank"><img src="./img/redes-sociais/facebook.svg" alt="Facebook RockeRoll"></a></li>
            <li><a href="http://instagram.com" target="_blank"><img src="./img/redes-sociais/instagram.svg" alt="Instagram RockeRoll"></a></li>
            <li><a href="http://twitter.com" target="_blank"><img src="./img/redes-sociais/twitter.svg" alt="Twitter RockeRoll"></a></li>

        </ul>
    </footer>
</body>

</html>