<!DOCTYPE html>
<html lang="en">

<head>
    <title>RockeRoll</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="imagem/png" href="./img/nav.png" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=New+Rocker&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/index.css">
    <script>document.documentElement.classList.add("js")</script>


</head>

<body>

    <header>
        <div class="logo"><a href="./"><img src="./img/logo9.svg" alt="logo RockeRoll"></a>
        </div>

        <div class="list_menu">
            <ul>
                <li> <a href="./" class="active">home</a> </li>
                <li><a href="./form">ticket</a></li>
                <li><a href="./about">about</a></li>

            </ul>
        </div>

    </header>

    <main>
        <div data-anime="400" class="banner fadeInDown">
            <img src="/img/bg/bandas.png" alt="">
        </div>
        <div class="moon">
            <div class="circle"></div>
        </div>
        <div class="radio_cite">
            <div data-anime="800" class="main_info fadeInDown">
                <h3>Moonligth Festival</h3>
                <p class="welcome">Welcome to MOONLIGHT FESTIVAL! Be prepared to travel to another dimension and just like in the song "STARMAN" with our sparkle we can make the moon man land here at our party! </p>

            </div>
            <div data-anime="1200" class="box_radio fadeInDown">

            </div>

        </div>
        </div>
        <div class="cite fadeInDown">
            <div data-anime="1200" class="boxes fadeInDown">
                <div class="box1"> <img src="/img/box/boxindex/rocker11.svg" alt=""> </div>
                <div class="box2"><img src="/img/box/boxindex/rocker22.svg" alt=""></div>
                <div class="box3"><img src="/img/box/boxindex/rocker33.svg" alt=""></div>
            </div>
            <div data-anime="1400" class="cite_rigth">
                <blockquote>“The moon does not fight. It attacks no one. It does not worry. It does not try to crush others. It keeps to its course, but by its very nature, it gently influences. What other body could pull an entire ocean from shore to shore? The moon is faithful to its nature and its power is never diminished.” </blockquote>
                <cite>Deng Ming-Dao</cite>
            </div>
        </div>

    </main>

    <footer class="foot">
        <p>© Copyright 2021-2022 | Vinicius Olivi</p>
        <ul class="socials">
            <li><a href="http://facebook.com" target="_blank"><img src="./img/redes-sociais/facebook.svg" alt="Facebook RockeRoll"></a></li>
            <li><a href="http://instagram.com" target="_blank"><img src="./img/redes-sociais/instagram.svg" alt="Instagram RockeRoll"></a></li>
            <li><a href="http://twitter.com" target="_blank"><img src="./img/redes-sociais/twitter.svg" alt="Twitter RockeRoll"></a></li>

        </ul>
    </footer>
    <script src="/js/simple-anime.js"></script>
    <script src="/js/script.js"></script>
</body>

</html>