<!DOCTYPE html>
<html lang="en">



<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="imagem/png" href="./img/nav.png" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=New+Rocker&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/index.css">

    <title>RockeRoll</title>
</head>

<body>

    <body>

        <header>
            <div class="logo"><a href="index.html"><img src="./img/logo9.svg" alt="logo RockeRoll"></a></div>
            <div class="list_menu">
                <ul>
                    <li>home</li>
                    <li><a href="./form">ticket</a></li>
                    <li>about</li>
                </ul>
            </div>

        </header>

        <main>
            <section>
                <div class="banner">
                    <img src="./img/long1.jpg" alt="">
                </div>
                <div class="aside">

                </div>
            </section>

        </main>

        <footer class="foot">
            <p>© Copyright 2021-2022 | Vinicius Olivi</p>
            <ul class="socials">
                <li><a href="http://facebook.com" target="_blank"><img src="./img/redes-sociais/facebook.svg" alt="Facebook RockeRoll"></a></li>
                <li><a href="http://instagram.com" target="_blank"><img src="./img/redes-sociais/instagram.svg" alt="Instagram RockeRoll"></a></li>
                <li><a href="http://twitter.com" target="_blank"><img src="./img/redes-sociais/twitter.svg" alt="Twitter RockeRoll"></a></li>

            </ul>
        </footer>
    </body>

</html>





<!-- 1 - inicia o projeto
2 - configura as dependencias basicas
3 - verifica o funcionamento
4 - versiona cada etapa (git)
5 - salva em server remoto -->