<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Ticket Store</title>
</head>

<body>

    <header>
        <div class="logo">
            <img src="/front/img/banner.jpg" alt="logo ticket store">
        </div>
        <div class="menu">
            <ul>
                <li>
                    <a href="index.html">Home</a>
                    <a href="sobre.html">Sobre</a>
                    <a href="form.html">Formulário</a>
                </li>
            </ul>
        </div>
    </header>

    <main>
        <div class="banner">
            <!-- <img src="/front/img/banner.jpg" alt=""> -->
        </div>
    </main>

    <footer>Footer</footer>
</body>

</html>





<!-- 1 - inicia o projeto
2 - configura as dependencias basicas
3 - verifica o funcionamento
4 - versiona cada etapa (git)
5 - salva em server remoto -->